flows_mrw-viglen.json
[{"type":"tab","id":"5d7c6aac.810264","label":"Sheet 1"},{"id":"3d5e337a.5a9084","type":"MySQLdatabase","host":"127.0.0.1","port":"3306","db":"mydata"},{"id":"6ae3bdcd.ab16bc","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"8019c7f2.618c78","type":"serial-port","serialport":"/dev/ttyUSBRFM","serialbaud":"57600","newline":"\\n","addchar":"false"},{"id":"72bd61c1.c2afa","type":"mysql","mydb":"3d5e337a.5a9084","name":"mydata","x":582,"y":405,"z":"5d7c6aac.810264","wires":[["7bb0e53a.9510ec"]]},{"id":"9202d80a.014398","type":"serial in","name":"RFMHubReceiver","serial":"8019c7f2.618c78","x":131,"y":108,"z":"5d7c6aac.810264","wires":[["a7b33488.d54ad","4f75be59.8cfa6"]]},{"id":"a7b33488.d54ad","type":"function","name":"ParseInfoMessages","func":"if (msg.payload.indexOf(\"INFO\") >= 0) {\n\tmsg.payload = \"NR: \" + msg.payload;\n} else {\n\tmsg = null;\n}\n\nreturn msg;","outputs":1,"x":363,"y":118,"z":"5d7c6aac.810264","wires":[["69a25cdd.0c093c"]]},{"id":"69a25cdd.0c093c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":545,"y":119,"z":"5d7c6aac.810264","wires":[]},{"id":"4f75be59.8cfa6","type":"function","name":"ParseDataMessages","func":"var messages = [];\n\n// Determine which wireless node is publishing - each one publishes slightly different\n// data so this allows us to process each one individually\nif (msg.payload.indexOf(\"DATA\") >= 0) {\n    var wirelessNodeNumber = \"\" + msg.payload.substring(msg.payload.indexOf(\"Nd\") + 2, msg.payload.indexOf(\"Nd\") + 5);\n    \n    // Strip off leading 0 i.e. Nd03 becomes just 3, Nd11 becomes 11\n    if (wirelessNodeNumber.indexOf(\"0\") == 0) {\n    \twirelessNodeNumber = wirelessNodeNumber.substring(1, wirelessNodeNumber.length);\n    }\n    \n    messages[0] = { payload: msg.payload, topic: \"\" + wirelessNodeNumber };\n}\n\nreturn messages;","outputs":1,"x":351,"y":177,"z":"5d7c6aac.810264","wires":[["87245b5e.3e3dc8"]]},{"id":"25bd8cd3.c9bb4c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1276,"y":175,"z":"5d7c6aac.810264","wires":[]},{"id":"22caa738.cde588","type":"inject","name":"Test loft node","topic":"","payload":"DATA: GROUP(53) HEADER(97) BYTES(15) Nd02 9 56 16 33","payloadType":"string","repeat":"","crontab":"","once":false,"x":130,"y":163,"z":"5d7c6aac.810264","wires":[["4f75be59.8cfa6"]]},{"id":"952463cb.4d5638","type":"function","name":"Parse loft node data","func":"// Node 2 - loft node\nvar messages = [];\n\nmessages[0] = [];\n\nvar tokens = msg.payload.split(\" \");\n\n// Current time & date\nvar dateStamp = \"\" + new Date();\ndateStamp = dateStamp.substring(dateStamp.indexOf(\" \") + 1, dateStamp.indexOf(\"GMT\"));\n\n// Get each of the individual elements from the data\nif (tokens.length > 0) {\n\tmessages[0][0] = { payload: \"\" + tokens[6], topic: \"local/rfm12/nodes/02/humidity\", retain: true };\n\tmessages[0][1] = { payload: \"\" + tokens[7], topic: \"local/rfm12/nodes/02/temp\", retain: true };\n\tmessages[0][2] = { payload: \"\" + tokens[8], topic: \"local/rfm12/nodes/02/voltage\", retain: true };\n\tmessages[0][3] = { payload: dateStamp, topic: \"local/rfm12/nodes/02/lastreceived\", retain: true };\n}\n\nreturn messages;","outputs":1,"x":1026,"y":122,"z":"5d7c6aac.810264","wires":[["25bd8cd3.c9bb4c","ebba594e.f81628"]]},{"id":"87245b5e.3e3dc8","type":"switch","name":"RouteWirelessNodeData","property":"topic","rules":[{"t":"eq","v":2,"v2":null},{"t":"eq","v":3,"v2":null},{"t":"eq","v":4,"v2":null}],"checkall":"false","outputs":3,"x":571,"y":179,"z":"5d7c6aac.810264","wires":[["45cf94c7.5b0954"],["ef79d576.5111f"],["37b4bac2.ab7246"]]},{"id":"71f47e41.b20d78","type":"function","name":"Parse lounge node data","func":"// Node 3 - lounge node\nvar messages = [];\nmessages[0] = [];\n\nvar tokens = msg.payload.split(\" \");\n\n// Current time & date\nvar dateStamp = \"\" + new Date();\ndateStamp = dateStamp.substring(dateStamp.indexOf(\" \") + 1, dateStamp.indexOf(\"GMT\"));\n\n// Get each of the individual elements from the data\nif (tokens.length > 0) {\n\tmessages[0][0] = { payload: \"\" + tokens[6], topic: \"local/rfm12/nodes/03/humidity\", retain: true };\n\tmessages[0][1] = { payload: \"\" + tokens[7], topic: \"local/rfm12/nodes/03/temp\", retain: true };\n\tmessages[0][2] = { payload: \"\" + tokens[8], topic: \"local/rfm12/nodes/03/voltage\", retain: true };\n\tmessages[0][3] = { payload: dateStamp, topic: \"local/rfm12/nodes/03/lastreceived\", retain: true };\n}\n\nreturn messages;","outputs":1,"x":1032,"y":174,"z":"5d7c6aac.810264","wires":[["25bd8cd3.c9bb4c","ebba594e.f81628"]]},{"id":"45cf94c7.5b0954","type":"delay","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":823,"y":127,"z":"5d7c6aac.810264","wires":[["952463cb.4d5638"]]},{"id":"ef79d576.5111f","type":"delay","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"minutes","rate":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":831,"y":176,"z":"5d7c6aac.810264","wires":[["71f47e41.b20d78"]]},{"id":"37b4bac2.ab7246","type":"delay","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":825,"y":232,"z":"5d7c6aac.810264","wires":[["51f96d11.f9309c"]]},{"id":"51f96d11.f9309c","type":"function","name":"Parse garden node data","func":"// Node 4 - garden node\nvar messages = [];\n\nmessages[0] = [];\n\nvar tokens = msg.payload.split(\" \");\n\n// Current time & date\nvar dateStamp = \"\" + new Date();\ndateStamp = dateStamp.substring(dateStamp.indexOf(\" \") + 1, dateStamp.indexOf(\"GMT\"));\n\n// Get each of the individual elements from the data\nif (tokens.length > 0) {\n\tmessages[0][0] = { payload: \"\" + tokens[5], topic: \"local/rfm12/nodes/04/moisture\", retain: true };\n\tmessages[0][1] = { payload: \"\" + tokens[6], topic: \"local/rfm12/nodes/04/voltage\", retain: true };\n\tmessages[0][2] = { payload: dateStamp, topic: \"local/rfm12/nodes/04/lastreceived\", retain: true };\n}\n\nreturn messages;","outputs":1,"x":1032,"y":234,"z":"5d7c6aac.810264","wires":[["25bd8cd3.c9bb4c","ebba594e.f81628"]]},{"id":"86887e.e46c5f8","type":"inject","name":"Test lounge node","topic":"","payload":"DATA: GROUP(53) HEADER(97) BYTES(15) Nd03 9 52 19 36","payloadType":"string","repeat":"","crontab":"","once":false,"x":143,"y":198,"z":"5d7c6aac.810264","wires":[["4f75be59.8cfa6"]]},{"id":"2ba453c5.c5c544","type":"inject","name":"Test garden node","topic":"","payload":"DATA: GROUP(53) HEADER(97) BYTES(15) Nd04 56 37","payloadType":"string","repeat":"","crontab":"","once":false,"x":143,"y":233,"z":"5d7c6aac.810264","wires":[["4f75be59.8cfa6"]]},{"id":"ebba594e.f81628","type":"mqtt out","name":"PublishAllRFM12Data","topic":"","broker":"6ae3bdcd.ab16bc","x":1325,"y":226,"z":"5d7c6aac.810264","wires":[]},{"id":"27280dfb.49bc12","type":"mqtt in","name":"SubscribeRFM12Data","topic":"local/rfm12/#","broker":"6ae3bdcd.ab16bc","x":134,"y":405,"z":"5d7c6aac.810264","wires":[["748001a.0fc768","be2aca09.42451"]]},{"id":"748001a.0fc768","type":"function","name":"MapMQTTtoMySQL","func":"// Simple switch-ish statement to turn an MQTT topic into an SQL statement\nif (msg.topic.valueOf() == \"local/rfm12/nodes/02/voltage\".valueOf()) {\n\tmsg.topic = \"INSERT INTO mydata.wirelessnodes(nodeid, voltage) values(2, \" + msg.payload + \")\";\n} else if (msg.topic.valueOf() == \"local/rfm12/nodes/03/voltage\".valueOf()) {\n\tmsg.topic = \"INSERT INTO mydata.wirelessnodes(nodeid, voltage) values(3, \" + msg.payload + \")\";\n} else if (msg.topic.valueOf() == \"local/rfm12/nodes/04/voltage\".valueOf()) {\n\tmsg.topic = \"INSERT INTO mydata.wirelessnodes(nodeid, voltage) values(4, \" + msg.payload + \")\";\n} else if (msg.topic.valueOf() == \"local/rfm12/nodes/02/temp\".valueOf()) {\n\tmsg.topic = \"INSERT INTO mydata.temperature2(temperature) values(\" + msg.payload + \")\";\n} else if (msg.topic.valueOf() == \"local/rfm12/nodes/02/humidity\".valueOf()) {\n\tmsg.topic = \"INSERT INTO mydata.humidity2(humidity) values(\" + msg.payload + \")\";\n} else if (msg.topic.valueOf() == \"local/rfm12/nodes/03/temp\".valueOf()) {\n\tmsg.topic = \"INSERT INTO mydata.temperature3(temperature) values(\" + msg.payload + \")\";\n} else if (msg.topic.valueOf() == \"local/rfm12/nodes/03/humidity\".valueOf()) {\n\tmsg.topic = \"INSERT INTO mydata.humidity3(humidity) values(\" + msg.payload + \")\";\n} else if (msg.topic.valueOf() == \"local/rfm12/nodes/04/moisture\".valueOf()) {\n\tmsg.topic = \"INSERT INTO mydata.moisture(moisture) values(\" + msg.payload + \")\";\n} else {\n\tmsg = null;\n}\n\nreturn msg;","outputs":1,"x":378,"y":405,"z":"5d7c6aac.810264","wires":[["72bd61c1.c2afa"]]},{"id":"7bb0e53a.9510ec","type":"debug","name":"","active":true,"console":false,"complete":false,"x":747,"y":407,"z":"5d7c6aac.810264","wires":[]},{"id":"be2aca09.42451","type":"debug","name":"","active":true,"console":false,"complete":false,"x":373,"y":456,"z":"5d7c6aac.810264","wires":[]},{"id":"447d1f37.7d672","type":"mqtt in","name":"BBSB Command Receiver","topic":"local/rfm12/command","broker":"6ae3bdcd.ab16bc","x":135,"y":624,"z":"5d7c6aac.810264","wires":[["a8290f87.7ffb48","3cc1ffa4.e2f2d"]]},{"id":"a8290f87.7ffb48","type":"debug","name":"","active":true,"console":false,"complete":false,"x":378,"y":669,"z":"5d7c6aac.810264","wires":[]},{"id":"3cc1ffa4.e2f2d","type":"serial out","name":"Handle BBSB command","serial":"8019c7f2.618c78","x":587,"y":626,"z":"5d7c6aac.810264","wires":[]},{"id":"92ab7f.33f3348","type":"comment","name":"Receive serial data from an Arduino with an RFM12B chip, publish the relevant parts to various MQTT topics","info":"","x":395,"y":60,"z":"5d7c6aac.810264","wires":[]},{"id":"9f8d1180.7b3878","type":"comment","name":"Subscribe to the various MQTT topics that contain data from RFM12B wireless nodes, and put the right bits into a MySQL database","info":"","x":468,"y":349,"z":"5d7c6aac.810264","wires":[]},{"id":"7df659ae.a3983","type":"comment","name":"Subscribe to 'local/rfm12/command' and pass the command to an Arduino with an RFM12B chip to send it to the BBSB sockets in the house","info":"RFM12B chip to send it to the BBSB sockets in the house","x":498,"y":570,"z":"5d7c6aac.810264","wires":[]}]