opt/nodered091/node-red-0.9.1/development-flow.js
[{"type":"tab","id":"35918714.ea3a2","label":"Sheet 1"},{"id":"ced3a353.a3306","type":"numeric","name":"","threshold":"657","analysistype":"averageovertime","comparisontype":"1","nummessages":"25","timeperiod":"65","timeunits":"days","x":445,"y":127,"z":"35918714.ea3a2","wires":[["5039ac90.936fcc"]]},{"id":"4ed1c0c8.f50de8","type":"inject","name":"","topic":"20","payload":"20","payloadType":"string","repeat":"","crontab":"","once":false,"x":138,"y":48,"z":"35918714.ea3a2","wires":[["ced3a353.a3306"]]},{"id":"5039ac90.936fcc","type":"debug","name":"","active":true,"console":"false","complete":"true","x":703,"y":92,"z":"35918714.ea3a2","wires":[]},{"id":"97e329a1.84198","type":"inject","name":"54","topic":"54","payload":"54","payloadType":"string","repeat":"","crontab":"","once":false,"x":136,"y":106,"z":"35918714.ea3a2","wires":[["ced3a353.a3306"]]},{"id":"542ae8cf.a75ae8","type":"inject","name":"32","topic":"32","payload":"32","payloadType":"string","repeat":"","crontab":"","once":false,"x":137,"y":160,"z":"35918714.ea3a2","wires":[["ced3a353.a3306"]]},{"id":"79c23601.9a2648","type":"inject","name":"65","topic":"65","payload":"65","payloadType":"string","repeat":"","crontab":"","once":false,"x":139,"y":211,"z":"35918714.ea3a2","wires":[["ced3a353.a3306","ba17d765.c91a48"]]},{"id":"8d06c550.9fa318","type":"inject","name":"5.6","topic":"5.6","payload":"5.6","payloadType":"string","repeat":"","crontab":"","once":false,"x":139,"y":264,"z":"35918714.ea3a2","wires":[["ced3a353.a3306","ba17d765.c91a48"]]},{"id":"ba17d765.c91a48","type":"numeric","name":"","threshold":"11","analysistype":"latest","comparisontype":"1","nummessages":"0","timeperiod":"0","timeunits":"seconds","x":440,"y":227,"z":"35918714.ea3a2","wires":[["5039ac90.936fcc"]]},{"id":"1c27e1e3.10a1c6","type":"inject","name":"1233","topic":"1233","payload":"1233","payloadType":"string","repeat":"","crontab":"","once":false,"x":134,"y":332,"z":"35918714.ea3a2","wires":[["ced3a353.a3306","ba17d765.c91a48"]]}]