node-red/development-flow.js
[{"type":"tab","id":"5d7c6aac.810264","label":"Switch off appliances"},{"type":"tab","id":"593d1167.a2e71","label":"Alerts from house"},{"id":"3d5e337a.5a9084","type":"MySQLdatabase","host":"127.0.0.1","port":"3306","db":"mydata"},{"id":"6ae3bdcd.ab16bc","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"8019c7f2.618c78","type":"serial-port","serialport":"/dev/ttyUSBRFM","serialbaud":"57600","newline":"\\n","addchar":"false"},{"id":"fc5973ef.a12d38","type":"serial-port","serialport":"/dev/ttyUSBCC","serialbaud":"9600","newline":"\\r","addchar":"false"},{"id":"7fbff83a.b25658","type":"inject","name":"TV off Monday-Friday night","topic":"local/rfm12/command","payload":"BBSB 4 A 0:","payloadType":"string","repeat":"","crontab":"*/10 0 * * 1-5","once":false,"x":174,"y":105,"z":"5d7c6aac.810264","wires":[["aa7f7eb8.107b7"]]},{"id":"aa7f7eb8.107b7","type":"mqtt out","name":"Publish BBSB commands","topic":"","broker":"6ae3bdcd.ab16bc","x":596,"y":348,"z":"5d7c6aac.810264","wires":[]},{"id":"3d29becf.c89132","type":"inject","name":"TV off Saturday-Sunday night","topic":"local/rfm12/command","payload":"BBSB 4 A 0:","payloadType":"string","repeat":"","crontab":"*/10 1 * * 6-7","once":false,"x":182,"y":149,"z":"5d7c6aac.810264","wires":[["aa7f7eb8.107b7"]]},{"id":"abd54e9a.994d88","type":"inject","name":"TV off Monday-Friday mornings","topic":"local/rfm12/command","payload":"BBSB 4 A 0:","payloadType":"string","repeat":"","crontab":"*/10 9 * * 1-5","once":false,"x":186,"y":63,"z":"5d7c6aac.810264","wires":[["aa7f7eb8.107b7"]]},{"id":"74ee9e6c.d4a9","type":"inject","name":"TV off test","topic":"local/rfm12/command","payload":"BBSB 4 A 0:","payloadType":"string","repeat":"","crontab":"","once":false,"x":246,"y":227,"z":"5d7c6aac.810264","wires":[["aa7f7eb8.107b7"]]},{"id":"a822a222.ba6568","type":"inject","name":"Broadband off Monday-Friday mornings","topic":"local/rfm12/command","payload":"BBSB 1 B 0:","payloadType":"string","repeat":"","crontab":"*/10 9 * * 1-5","once":false,"x":216,"y":309,"z":"5d7c6aac.810264","wires":[["aa7f7eb8.107b7"]]},{"id":"b5d1241f.e93a9","type":"inject","name":"Broadband off Monday-Friday night","topic":"local/rfm12/command","payload":"BBSB 1 B 0:","payloadType":"string","repeat":"","crontab":"*/10 0 * * *","once":false,"x":202,"y":354,"z":"5d7c6aac.810264","wires":[["aa7f7eb8.107b7"]]},{"id":"51900a74.843244","type":"inject","name":"Broadband on Monday-Friday lunchtime","topic":"local/rfm12/command","payload":"BBSB 1 B 1:","payloadType":"string","repeat":"","crontab":"*/10 12 * * 1-5","once":false,"x":215,"y":397,"z":"5d7c6aac.810264","wires":[["aa7f7eb8.107b7"]]},{"id":"37826f16.425578","type":"inject","name":"Broadband on Monday-Friday morning","topic":"local/rfm12/command","payload":"BBSB 1 B 1:","payloadType":"string","repeat":"","crontab":"45 06 * * 1-5","once":false,"x":219,"y":442,"z":"5d7c6aac.810264","wires":[[]]},{"id":"79f97cca.5dd4dc","type":"inject","name":"Lounge lamps off every night","topic":"local/rfm12/command","payload":"BBSB 1 A 0:","payloadType":"string","repeat":"","crontab":"*/10 1 * * *","once":false,"x":192,"y":557,"z":"5d7c6aac.810264","wires":[["aa7f7eb8.107b7"]]},{"id":"eccccb69.958e9","type":"inject","name":"Dining room lamps off every night","topic":"local/rfm12/command","payload":"BBSB 1 A 0:","payloadType":"string","repeat":"","crontab":"*/10 1 * * *","once":false,"x":206,"y":601,"z":"5d7c6aac.810264","wires":[["aa7f7eb8.107b7"]]},{"id":"cecf169d.2c5078","type":"mqtt in","name":"Subscribe to wireless node transmissions","topic":"local/rfm12/nodes/#","broker":"6ae3bdcd.ab16bc","x":179,"y":87,"z":"593d1167.a2e71","wires":[["a5385dd.0a805a"]]},{"id":"a5385dd.0a805a","type":"function","name":"Store latest wireless node timestamps","func":"if (!msg.retain) {\n\tif (msg.topic.indexOf(\"local/rfm12/nodes/02\") >= 0) {\n\t\tcontext.global.wirelessnode2 = new Date().getTime();\n\t} else if (msg.topic.indexOf(\"local/rfm12/nodes/03\") >= 0) {\n\t\tcontext.global.wirelessnode2 = new Date().getTime();\n\t} else if (msg.topic.indexOf(\"local/rfm12/nodes/04\") >= 0) {\n\t\tcontext.global.wirelessnode2 = new Date().getTime();\n\t}\n}\n\nreturn null;","outputs":1,"x":513,"y":87,"z":"593d1167.a2e71","wires":[[]]},{"id":"432043bc.13fc74","type":"inject","name":"Check for recent wireless transmissions","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/1 * * * *","once":false,"x":175,"y":200,"z":"593d1167.a2e71","wires":[["e072caa2.9e696","6622363d.b915f8"]]},{"id":"e072caa2.9e696","type":"function","name":"Alert if transmission not seen recently","func":"context.global.wirelessnode2 = context.global.wirelessnode2 || 0;\ncontext.global.wirelessnode3 = context.global.wirelessnode3 || 0;\ncontext.global.wirelessnode4 = context.global.wirelessnode4 || 0;\n\nvar messages = [];\nmessages[0] = [];\n\nvar allowedTimeSinceTransmission = (1000 * 60);\n\nif ((msg.timestamp - context.global.wirelessnode2) > allowedTimeSinceTransmission) {\n\tmessages[0].push({ payload: \"No wireless data received from node 2 recently\", topic: \"test/nd2\" });\n\tcontext.global.wirelessnode2.alerted = true;\n}\n\nif ((msg.timestamp - context.global.wirelessnode3) > allowedTimeSinceTransmission) {\n\tmessages[0].push({ payload: \"No wireless data received from node 3 recently\", topic: \"test/nd3\" });\n\tcontext.global.wirelessnode3.alerted = true;\n}\n\nif ((msg.timestamp - context.global.wirelessnode4) > allowedTimeSinceTransmission) {\n\tmessages[0].push({ payload: \"No wireless data received from node 4 recently\", topic: \"test/nd4\" });\n\tcontext.global.wirelessnode4.alerted = true;\n}\n\nreturn msg;","outputs":1,"x":514,"y":202,"z":"593d1167.a2e71","wires":[["fe4592e2.c93cc","a8833b39.d56ee8"]]},{"id":"fe4592e2.c93cc","type":"mqtt out","name":"Publish \"wireless node down\" alert","topic":"","broker":"6ae3bdcd.ab16bc","x":841,"y":202,"z":"593d1167.a2e71","wires":[]},{"id":"a8833b39.d56ee8","type":"debug","name":"","active":true,"console":false,"complete":false,"x":774,"y":280,"z":"593d1167.a2e71","wires":[]},{"id":"6622363d.b915f8","type":"debug","name":"","active":true,"console":false,"complete":false,"x":414,"y":263,"z":"593d1167.a2e71","wires":[]}]